venv/
.env
*.*~
llegir.txt
llegir2.txt

src/input/*
!src/input/jose_luis_cava_context_ca.txt
!src/input/jose_luis_cava_context_es.txt
!src/input/jose_luis_cava_context_en.txt
!src/input/prompt_ca.txt
!src/input/prompt_en.txt
!src/input/prompt_es.txt
!src/input/jose_luis_cava_video_260512.txt

src/output/*
!src/output/output_260518_234646_deepseek.mp3
!src/output/output_260518_234646_deepseek.pdf
!src/output/output_260518_234646_deepseek.txt

src/prova_TTS/


